<html>
    <head>
        <title>
            Welcome to Ansible
        </title>
    </head>
    <body>
        <h1>Welcome to Ansible configured Web server on {{ hostvars[inventory_hostname]['ansible_os_family'] }}</h1>
        <p>
            If you can see this, Ansible successfully installed NGINX.
        </p>
        <p>{{ ansible_managed }}</p>
    </body>
</html>
